<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>download</title>
    <style>
        .con{
            text-align: center;
            margin-top: 150px;
            font-size: 30px;
            color: lightseagreen;
        }
    </style>
</head>
<body>
    <div class="con">
        正在下载和打包文件，请耐心等待 <br/>
        这将需要几分钟的时间......
    </div>
    <script>
        window.location = '/tinper/build?coms=' + queryString('coms');

        function queryString(key){
            var src = location.search || location.hash,
                reg = new RegExp('[?&]' + key + '=([^?&=]*)(?=&|$)'),
                match = reg.exec(src);
            return match == null ? null : decodeURIComponent(match[1]);
        }
    </script>
</body>
</html>