<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>download</title>
    <style>
        ul,li{margin:0;padding:0;}
        ul{list-style:none;}
        .coms{overflow:hidden;}
        .com-item{display:inline-block;width:150px;}
    </style>
</head>
<body>
    <h2>downloading...</h2>
</body>
</html>